{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Kalit so'zingiz esdan chiqdimi?{% endblock title %}

{% block content %}
    <div class="container">
    <h3>Kalit so'zingiz esdan chiqdimi?</h3>
    <p>Quyida email manzilingizni kiriting, biz sizga kalit soz'ni tiklash uchun qo'llanma yuboramiz.</p>
    <form method="POST">{% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-success" value="Yuborish!">
    </form>
    </div>
{% endblock content %}