{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Kalit so'zni o'zgartirish{% endblock title %}

{% block content %}
    <div class="container">
        <h3>Kalit so'zni o'zgartirish</h3>
        <p>Avval eski kalit so'zni keyin esa yangi kalit so'zni ikki marotaba kiriting.</p>
        <form method="POST">{% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success" value="O'zgartirish">
        </form>
    </div>
{% endblock content %}